<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="fileTarget"
            layout="${longdate} - ${level:uppercase=true}: ${message}"
            fileName="${basedir}\nlog\trace.log"
            keepFileOpen="false"/>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger minlevel="Trace" name="*" writeTo="fileTarget"/>
  </rules>
</nlog>